html,
body {
  font-family: -apple-system, "Baloo Tamma 2", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  line-height: 1.8;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
:root{
  --primary-color: #014d4e;
  --secondary-color: #ff9408;
  --secondary-color-mo: #ff94088e;
  --tertiary-color: #017374;
  --tertiary-color-m: #01727498;
}
